option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: shopping_list_app/static
  aws:elasticbeanstalk:application:environment:
    PYTHON_VERSION: "3.9"
