files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name shoppinglists.sascha-keweloh.com;
        
        # Redirect HTTP to HTTPS if you set up SSL later
        # if ($http_x_forwarded_proto = 'http') {
        #   return 301 https://$host$request_uri;
        # }
        
        location / {
          proxy_pass http://127.0.0.1:8000;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        
        location /static {
          alias /var/app/current/shopping_list_app/static;
        }
        
        # WebSocket support for SocketIO
        location /socket.io {
          proxy_pass http://127.0.0.1:8000/socket.io;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      service nginx restart
